@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.6) url('../src/assets/background-fundo.png') repeat;
    background-size: cover;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Questrial','Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Consolas, 'Courier New', monospace;
}